@(user: User)

@main("Consulter les effets indésirables", user) {
    <a href="@routes.Application.index()">Retour</a>

    A modifier pas besoin d'etre sous une session !!!

    <h1>Consulter les effets indésirables</h1>

    <fieldset>
        <legend>Effets indésirables d'un médicaments</legend>
        <form action="@routes.Search.fromMedicament" method="post" id="medicament-form">
            <input type="text" name="medicament-search" id="medicament-search" placeholder="medicament"/>
            <button class="btn" type="submit" >consulter</button>
        </form>
        <ul id="medicament-effets"></ul>

    </fieldset>

    <fieldset>
        <legend>Effets indésirables d'un dispositif médical</legend>
        <form action="" method="post" id="dispositif-form">
            <input type="text" name="dispositif-search" id="dispositif-search" placeholder="dispositif"/>
            <button class="btn" type="submit" >consulter</button>
        </form>
        <ul id="dispositif-effets"></ul>
    </fieldset>

    <fieldset>
        <legend>Effets indésirables d'un produit cosmétique</legend>
        <form action="" method="post" id="cosmetique-form">
            <input type="text" name="cosmetique-search" id="cosmetique-search" placeholder="cosmetique" />
            <button class="btn" type="submit" >consulter</button>
        </form>
        <ul id="cosmetique-effets"></ul>
    </fieldset>
}
