@(user: User)

@main("Consulter les effets indésirables", user) {
    <a href="@routes.Application.index()">Retour</a>

    A modifier pas besoin d'etre sous une session !!!

    <h1>Consulter les effets indésirables</h1>

    <fieldset>
        <legend>Effets indésirables d'un médicaments</legend>
        <form action="@routes.Search.fromMedicament" method="post" id="medicament-form">
            <input type="text" name="medicament-search" id="medicament-search" />
            <input type="submit" />
        </form>
        <ul id="medicament-effets"></ul>

    </fieldset>

    <fieldset>
        <legend>Effets indésirables d'un dispositif médical</legend>
        <form action="" method="post" id="dispositif-form">
            <input type="text" name="dispositif-search" id="dispositif-search" />
            <input type="submit" />
        </form>
        <ul id="dispositif-effets"></ul>
    </fieldset>

}
