@(medicaments: List[Medicament], user: User)

@import helper._

@main("Modifier un médicament", user) {

    <a href="@routes.Application.index()">Retour</a>
    <fieldset>
        <h2>Nouveau medicament</h2>
        <form method="post" action="@routes.Medicaments.add()">

            <input name="nom" placeholder="nom">
            <button type="submit">Ajouter un medicament</button>
        </form>
    </fieldset>

    <ul>
        @for(medicament <- medicaments) {
        <li>
            @medicament.getId() @medicament.getNom()
            - <a href="@routes.Medicaments.edit(medicament.getId())">Modifier</a>
            - <a href="@routes.Medicaments.delete(medicament.getId())">Supprimer</a>
        </li>
        }
    </ul>
}

