@(principe_actifs: List[Principe_actif], user: User)

@import helper._

@main("consulter les principes actifs", user) {

    <h2>Voici la liste des principes actifs</h2>

    <ul>
        @for(principe_actif <- principe_actifs) {
        <li>@principe_actif.getNom()</li>
        }
    </ul>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>id</th>
                <th>nom</th>
            </tr>
        </thead>
        @for(principe_actif <- principe_actifs) {
            <tr>
                <td>@principe_actif.getId()</td>
                <td>@principe_actif.getNom()</td>
            </tr>
        }
    </table>
}

