@(excipients: List[Excipient], user: User)

@import helper._

@main("Modifier un excipient", user) {

    <a href="@routes.Application.index()">Retour</a>
    <fieldset>
        <h2>Nouveau excipient</h2>
        <form method="post" action="@routes.Excipients.add()">

            <input name="nom" placeholder="nom">
            <button class="btn" type="submit">Ajouter un excipient</button>
        </form>
    </fieldset>

    <ul>
        @for(excipient <- excipients) {
        <li>
            @excipient.getId() @excipient.getNom()
            - <a href="@routes.Excipients.edit(excipient.getId())">Modifier</a>
            - <a href="@routes.Excipients.delete(excipient.getId())">Supprimer</a>
        </li>
        }
    </ul>
}

