@(effet_indesirables: List[models.Effet_indesirable], user: User)

@import helper._

@main("Les effets indesirables", user) {

    <a href="@routes.Application.administration()">Retour</a>
    <fieldset>
        <h2>Nouveau effet_indesirable</h2>
        <form method="post" action="@routes.Effet_indesirables.add()">

            <input name="label" placeholder="label">
            <button class="btn" type="submit">Ajouter un effet_indesirable</button>
        </form>
    </fieldset>


    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>id</th>
                <th>nom</th>
            </tr>
        </thead>
        @for(effet_indesirable <- effet_indesirables) {
            <tr>
                <td>@effet_indesirable.getId()</td>
                <td>@effet_indesirable.getLabel()</td>
                <td><a href="@routes.Effet_indesirables.edit(effet_indesirable.getId())">Modifier</a></td>
                <td><a href="@routes.Effet_indesirables.delete(effet_indesirable.getId())">Supprimer</a></td>
            </tr>
        }
    </table>
}
