@(produit_cosmetique: Produit_cosmetique, produit_cosmetiqueForm: Form[Produit_cosmetique], user: User)

@import helper._

@main("Modifier un produit cosmetique", user) {
      <p>id: @produit_cosmetique.getId</p>
      @form(routes.Produit_cosmetiques.update(produit_cosmetique.getId)) {
            @inputText(produit_cosmetiqueForm("nom"))
            @select(produit_cosmetiqueForm("parabenes.id[]"), models.Parabene.find.all.map(p => (p.getId.toString, p.getNom)), 'multiple -> None)

            <button class="btn" type="submit" value="Update">Modifier</button>
        }
}

