@(produit_cosmetique: Produit_cosmetique, produit_cosmetiqueForm: Form[Produit_cosmetique], user: User)

@import helper._

@main("Modifier un produit cosmetique", user) {
      <p>id: @produit_cosmetique.getId</p>
      @form(routes.Produit_cosmetiques.update(produit_cosmetique.getId)) {
            @inputText(produit_cosmetiqueForm("nom"))
          <button class="btn" type="submit" value="Update">Modifier</button>
        }
}



<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

</body>
</html>