@(produit_cosmetiques: List[Produit_cosmetique], user: User)

@import helper._

@main("Modifier un produit cosmetique", user) {
    <a href="@routes.Application.index()">Retour</a>
    <fieldset>
        <h2>Nouveau produit cosmetique</h2>
        <form method="post" action="@routes.Produit_cosmetiques.add()">
            <input name="nom" placeholder="nom">
            <br/>
            <h4>principe actif</h4>
            <select name="principe_ac.id[]" multiple="multiple">
                @for(p <- models.Principe_actif.find.all) {
                    <option value="@p.getId">@p.getNom</option>
                }
            </select>
            <br/>
            <h4>parabene</h4>
            <select name="parabenes.id[]" multiple="multiple">
                @for(p <- models.Parabene.find.all) {
                    <option value="@p.getId">@p.getNom</option>
                }
            </select>
            <br/>
            <h4>excipients</h4>
            <select name="excipients.id[]" multiple="multiple">
                @for(e <- models.Excipient.find.all) {
                    <option value="@e.getId">@e.getNom</option>
                }
            </select>
            <br/>
            <h4>conservateurs</h4>
            <select name="conservateurs.id[]" multiple="multiple">
                @for(c <- models.Conservateur.find.all) {
                    <option value="@c.getId">@c.getNom</option>
                }
            </select>
            <br/>

            <button class="btn" type="submit">Ajouter un produit cosmetique</button>
        </form>
    </fieldset>

    <ul>
        @for(produit <- produit_cosmetiques) {
        <li>
            @produit.getId() @produit.getNom()
            - <a href="@routes.Produit_cosmetiques.edit(produit.getId())">Modifier</a>
            - <a href="@routes.Produit_cosmetiques.delete(produit.getId())">Supprimer</a>
        </li>
        }
    </ul>
}

