@(user: User)

@main("Consulter les effets indésirables", user) {

    <li><a href="@routes.Substances.list()">consulter les substances</a></li>
    <li><a href="@routes.Produit_cosmetiques.list()">consulter les produits cosmetiques</a></li>
    <li><a href="@routes.Principe_actifs.list()">consulter les principes actifs</a></li>
    <li><a href="@routes.Parabenes.list()">consulter les parabenes</a></li>
    <li><a href="@routes.Medicaments.list()">consulter les médicaments</a></li>
    <li><a href="@routes.Excipients.list()">consulter les excipients</a></li>
    <li><a href="@routes.Effet_indesirables.list()">consulter les effets indésirables</a></li>
    <li><a href="@routes.Dispo_medicaux.list()">consulter les dispositifs médicaux</a></li>
    <li><a href="@routes.Conservateurs.list()">consulter les conservateurs</a></li>

    <h1>Consulter les effets indésirables</h1>

    <fieldset>
        <legend>Effets indésirables d'un médicaments</legend>
        <form action="" method="post" id="medicament-form">
            <input type="text" name="medicament-search" id="medicament-search" placeholder="medicament"/>
            <button class="btn" type="submit" >consulter</button>
        </form>
        <ul id="medicament-effets"></ul>

    </fieldset>

    <fieldset>
        <legend>Effets indésirables d'un dispositif médical</legend>
        <form action="" method="post" id="dispositif-form">
            <input type="text" name="dispositif-search" id="dispositif-search" placeholder="dispositif"/>
            <button class="btn" type="submit" >consulter</button>
        </form>
        <ul id="dispositif-effets"></ul>
    </fieldset>

    <fieldset>
        <legend>Effets indésirables d'un produit cosmétique</legend>
        <form action="" method="post" id="cosmetique-form">
            <input type="text" name="cosmetique-search" id="cosmetique-search" placeholder="cosmetique" />
            <button class="btn" type="submit" >consulter</button>
        </form>
        <ul id="cosmetique-effets"></ul>
    </fieldset>
}
