@(
    message: String,
    effet_indesirables : List[models.Effet_indesirable],
    substances : List[models.Substance],
    medicaments : List[models.Medicament],
    utilisateurs : List[models.Utilisateur],
    user: User
)

@main("NotifIE", user) {



    <h1>NotifIE</h1>
    <p>@message</p>

    <!-- Formulaire de saisie : effet_indesirable -->
    <fieldset>
        <h2>Nouveau effet_indesirable</h2>
        <form method="post" action="@routes.Effet_indesirables.add()">

            <input name="label" placeholder="label">
            <button type="submit">Ajouter un effet_indesirable</button>
        </form>
    </fieldset>

    <!-- Liste des effet_indesirable -->
    <ul>
    @for(effet_indesirable <- effet_indesirables) {
        <li>@effet_indesirable.getId() @effet_indesirable.getLabel()</li>
    }
    </ul>

    <!-- Formulaire de saisie : substances -->
    <fieldset>
        <h2>Nouvelle substance</h2>
        <form method="post" action="@routes.Substances.add()">

            <input name="label" placeholder="label">
            <button type="submit">Ajouter une substance</button>
        </form>
    </fieldset>

    <!-- Liste des substances -->
    <ul>
    @for(substance <- substances) {
        <li>@substance.getId() @substance.getLabel()</li>
    }
    </ul>


    <!-- Formulaire de saisie : medicament -->
    <fieldset>
        <h2>Nouveau medicament</h2>
        <form method="post" action="@routes.Medicaments.add()">

            <input name="nom" placeholder="nom">
            <button type="submit">Ajouter un medicament</button>
        </form>
    </fieldset>

    <!-- Liste des medicaments -->
    <ul>
    @for(medicament <- medicaments) {
        <li>
            @medicament.getId() @medicament.getNom()
                        - <a href="@routes.Medicaments.edit(medicament.getId())">Modifier</a>
                        - <a href="@routes.Medicaments.delete(medicament.getId())">Supprimer</a>
        </li>
    }
    </ul>

    <!-- Formulaire de saisie : utilisateur -->
    <fieldset>
        <h2>Nouveau utilisateur</h2>
        <form method="post" action="@routes.Utilisateurs.add()">

            <input name="login" placeholder="login">
            <input name="mdp" placeholder="mdp">
            <select name="role" size="1" >
                <option value="patient"> patient </option>
                <option value="medecin">medecin </option>
            </select>
            <button type="submit">Ajouter un utilisateur</button>
        </form>
    </fieldset>

    <!-- Liste des utilisateurs -->
    <ul>
    @for(utilisateur <- utilisateurs) {
        <li>@utilisateur.getId() @utilisateur.getLogin() @utilisateur.getMdp() @utilisateur.getRole() </li>
    }
    </ul>




}
