@(utilisateurs : List[models.Utilisateur], user: User)

@main("NotifIE", user) {
    <h1>NotifIE</h1>

    <ul>
        <li><a href="@routes.Search.index()">Consulter les effets indésirables</a></li>
    </ul>

    @if(user.isAdmin) {
        <fieldset>
            <legend>Administration</legend>
            <ul>
                <li><a href="@routes.Effet_indesirables.index()">Les effets indésirables</a></li>
                <li><a href="@routes.Substances.index()">Les substances</a></li>
                <li><a href="@routes.Medicaments.index()">Les médicaments</a></li>
                <li><a href="@routes.Dispo_medicaux.index()">Les dispositifs médicaux</a></li>
            </ul>
        </fieldset>
    }

    <!-- Formulaire de saisie : utilisateur -->
    <fieldset>
        <h2>Nouveau utilisateur</h2>
        <form method="post" action="@routes.Utilisateurs.add()">

            <input name="login" placeholder="login">
            <input name="mdp" placeholder="mdp">
            <select name="role" size="1" >
                <option value="patient"> patient </option>
                <option value="medecin">medecin </option>
            </select>
            <button type="submit">Ajouter un utilisateur</button>
        </form>
    </fieldset>

    <!-- Liste des utilisateurs -->
    <ul>
    @for(utilisateur <- utilisateurs) {
        <li>@utilisateur.getId() @utilisateur.getLogin() @utilisateur.getMdp() @utilisateur.getRole() </li>
    }
    </ul>
}
