@(title: String, user: User)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/bootstrap/css/bootstrap-responsive.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Accueil <img src=@routes.Assets.at("images/accueil.jpg")></a>
                    <ul class="nav">
                        @if(user != null) {
                            <li><a class="brand" href="@routes.Application.notifierEi()">Notifier un efffet indésirable</a></li>
                            @if(user.isAdmin) {
                                <li><a class="brand" href="@routes.Application.administration()">Administration</a></li>
                            }
                            <li><a>@user.name <span>(@user.email)</span></a></li>
                            <li><a href="@routes.Authentication.logout()">Déconnexion</a></li>
                        } else {
                            <li><a href="@routes.Authentication.login()">Connexion</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
             @content
        </div>

        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
