@( user: User)

@main("notifierEI", user) {
    <h1 xmlns="http://www.w3.org/1999/html">NotifierEi</h1>

    @if(flash.contains("error")) {
        <p class="error">@flash.get("error")</p>
    }

    <fieldset>
        <legend>Ajouter un Effets indésirable à un médicaments</legend>
        <form action="@routes.NotifierEi.addEiMedicament" method="post">
            <input type="text" name="medicament-search" id="medicament-search" placeholder="Médicament"/>
            <textarea type="text" name="ei-search" class="ei-search" placeholder="Effet indesirable"></textarea>
            <button class="btn" type="submit" >notifier</button>
        </form>
        <ul id="medicament-effets"></ul>

    </fieldset>

    </br>

    <fieldset>
        <legend>Ajouter un Effets indésirable à un dispositif médical</legend>
        <form action="@routes.NotifierEi.addEiDispo" method="post" >
            <input type="text" name="dispositif-search" id="dispositif-search" placeholder="Dispositif"/>
            <input type="text" name="ei-search" class="ei-search" placeholder="Effet indésirable"/>
            <button class="btn" type="submit" >notifier</button>
        </form>
        <ul id="dispositif-effets"></ul>
    </fieldset>

    </br>

    <fieldset>
        <legend>Ajouter un Effets indésirable à un produit cosmétique</legend>
        <form action="@routes.NotifierEi.addEiproduit" method="post" >
            <input type="text" name="cosmetique-search" id="cosmetique-search" placeholder="Cosmétique" />
            <input type="text" name="ei-search" class="ei-search" placeholder="Effet indésirable"/>
            <button class="btn" type="submit" >notifier</button>
        </form>
        <ul id="cosmetique-effets"></ul>
    </fieldset>

}
